.slider {
  input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 15rem;

    &::-webkit-slider- {
      &thumb {
        -webkit-appearance: none; /* Override default look */
        appearance: none;
        background-color: lightblue;
        margin-top: -4px;
        height: 16px;
        width: 4px;

        &:hover {
          background-color: white;
          height: 20px;
          margin-left: -1px;
          margin-top: -6px;
          width: 8px;
        }
      }

      &runnable-track {
        background: black;
        height: 8px;
      }
    }

    /** FF*/
    &::-moz-range- {
      &thumb {
        border: none; /*Removes extra border that FF applies*/
        border-radius: 0; /*Removes default border-radius that FF applies*/
        background-color: lightblue;
        height: 16px;
        width: 4px;

        &:hover {
          background-color: white;
          height: 20px;
          margin-left: -1px;
          margin-top: -6px;
          width: 8px;
        }
      }
      &track {
        background: black;
        height: 8px;
      }
    }
  }
}
