* {
  background-color: $grey;
  box-sizing: border-box;
  font-family: "TypeMachine";
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body, html {
  margin: 0;
  padding: 0;
}

.app {
  height: 100vh;
  position: relative;
  width: 100vw;
}
