.bgmMenu {
  align-items: center;
  background: transparent;
  display: flex;
  flex-direction: row;
  height: fit-content;
  max-width: 100vw;
  pointer-events: all;
  user-select: none;
  width: 600px;

  .bgmButtons {
    align-items: center;
    display: flex;
    max-width: 64px;
    max-height: 64px;
    object-fit: cover;

    input[type="image"] {
      background-color: transparent;
      border: 2px dashed black;
      box-sizing: border-box;
      height: 32px;
      padding: 4px;
      width: 32px;

      &:hover {
        background-color: $lightGrey;
      }

      &:active {
        background-color: $lightestGrey;
      }
      
      &.paused {
        background-color: lightblue;

        &:hover {
          background-color: white;
        }
      }
    }
  }

  .trackDuration {
    text-align: center;
    max-width: 100px;
  }

  .volumeButtons {
    display: flex;
    max-width: 100px;
  }

  input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    margin: 0 4px;

    &::-webkit-slider- {
      &thumb {
        -webkit-appearance: none; /* Override default look */
        appearance: none;
        background-color: lightblue;
        border: 1px solid black;
        margin-top: -6px;
        height: 20px;
        width: 8px;

        &:hover {
          background-color: white;
          height: 22px;
          margin-left: -1px;
          margin-top: -7px;
          width: 10px;
        }
      }

      &runnable-track {
        background: $grey;
        height: 8px;
      }
    }

    /** FF*/
    &::-moz-range- {
      &thumb {
        background-color: lightblue;
        border-radius: 0; /*Removes default border-radius that FF applies*/
        border: 1px solid black;
        margin-top: -6px;
        height: 20px;
        width: 8px;

        &:hover {
          background-color: white;
          height: 22px;
          margin-left: -1px;
          margin-top: -7px;
          width: 10px;
        }
      }
      &track {
        background: $grey;
        height: 8px;
      }
    }
  }
}
